@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');

/*This is a comment*/

/*CSS syntax:

Selector {
  property: value;
  property: value;
}
*/

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaptions {
  /*font-weight: normal;
  font-size: 0.74em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal, 0.75em/1.5em, Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}